{% load staticfiles %}
<html>
<head>

<link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>

</head>
<body>
<div id = "title"> 
WordPlay
</div>

<form action="/search/" method = "POST"> 
{% csrf_token %}
Type in what you want your playlist to be about.<br>
  <label for="songtopic">adjective/verb/noun </label>
  <input type="text" name="songtopic"><br>
  
  <input type="submit" value="Submit">
</form>



</body>





</html>